{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-container d-flex justify-content-center align-items-center vh-100">
        <div class="login-box bg-white p-2 rounded">
            <img src="{{ asset('images/logo_prefeitura.png') }}" alt="Logo Prefeitura" class="d-block mx-auto mb-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans({}, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-1">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group">
                <form method="post" action="{{ path('app_login') }}">
                    <input type="email" value="{{ last_username }}" placeholder="Login" name="email" id="inputEmail" class="form-control md-2" autocomplete="email" required autofocus>
                    <input type="password" name="password" id="inputPassword" placeholder="Senha" class="form-control mt-2" autocomplete="current-password" required>
                    {# CSRF token #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{# {% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %} #}
