{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container text-center">
        <img src="{{ asset('images/logo_canoas.png') }}" alt="Logo Prefeitura" class="logo">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-end">
        <div class="container-fluid">
            <span id="currentPageIndicator" class="navbar-text ml-2"></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('occurrences_management') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('occurrence_register') }}">Cadastrar Ocorrência</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGestores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastro
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownGestores">
                            <a class="dropdown-item" href="{{ path('employee_register') }}">Funcionários</a>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Tipos de Ocorrência</a>
                                <div class="dropdown-menu dropdown-left">
                                    <a class="dropdown-item" href="{{ path('occurrence_type_register') }}">Tipos</a>
                                    <a class="dropdown-item" href="{{ path('occurrence_subtype_register') }}">Subtipos</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRelatorios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownRelatorios">
                            <a class="dropdown-item" href="#">Relatório de Ocorrência</a>
                            <a class="dropdown-item" href="#">Relatório de Estatística</a>
                            <a class="dropdown-item" href="#">Relatório Temporal</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Personalizar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid content">
        {% block admin_content %}{% endblock %}
    </div>

   <div class="logged-in-user">
        <span class="logged-in-user-text">Usuário logado: {{ app.user.username }}</span>
        <a class="nav-link" href="{{ path('app_logout') }}">Sair</a>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
    var currentPage = $('section.content').data('page'); // Seleciona o elemento section com a classe content e obtém o atributo data-page
    console.log(currentPage)
    // Atualiza o texto do indicador de página atual
    $('#currentPageIndicator').text(currentPage);
});


</script>

{% endblock %}